#sobre {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 50px;
  padding-top: 15px;
  box-sizing: border-box;
  border-bottom: 5px solid black;
}

.cards {
  width: 50%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}
