@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap");

body {
  background-color: #cdcdcd;
  font-family: "Antonio", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background-color: #2b2b2b;
}
::-webkit-scrollbar {
  width: 8px;
  background: #2b2b2b;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, rgb(255, 170, 255), rgb(76, 3, 107));
}

.hidden {
  display: none;
}

main {
  display: inline-block;
  position: relative;
  width: 100%;
  top: 75px;
}

footer {
  position: relative;
  background-color: black;
  color: white;
  top: 75px;
  width: 100vw;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px;
}

footer h1 {
  float: left;
}

footer p {
  position: relative;
  float: right;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 899px) {
  .blocos {
    width: 400px;
  }

  .bloco {
    left: -15px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 699px) {
  .cards {
    width: 80%;
  }
}

/* @media screen and (max-width: 595px) {
    .subtitulo {
      font-size: 30px;
    }
  } */

@media screen and (max-width: 474px) {
  .cards {
    width: 100%;
  }
}

@media screen and (max-width: 418px) {
  .card .figuras img {
    width: 250px;
    height: 250px;
  }

  .blocos {
    width: 350px;
  }

  .bloco {
    width: 350px;
  }

  .bloco-body {
    font-size: 16px;
  }
}

@media screen and (max-width: 367px) {
  .card .figuras img {
    width: 200px;
    height: 200px;
  }

  .blocos {
    width: 300px;
  }

  .bloco {
    width: 300px;
  }
}
